@model Joole.Data.tblSubCategory

@{
    Layout = null;
}



@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> @*for magnifying glass*@
    <title>@ViewBag.Title - Joole </title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/JooleStyles/search.css")
    @Styles.Render("~/Content/JooleStyles/home.css")

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>

<body>


    <div class="container">
        <br />
        <br />

        <div class="header">
            <img id="logo" src="@Url.Content("~/Images/joolelogo.png")" />
            <p>Building Product Selection Platform</p>
        </div>


        @using (Html.BeginForm("SubmitSearch", "Search", FormMethod.Get, new { @id = "searchForm" }))
        {
            @Html.DropDownList("categoryId", new SelectList(ViewBag.CategoryName, "CategoryId", "CategoryName"), "Category", new { @id = "dropBtn" })
            <select id="searchBox" name="subCategoryId">
                <option value="-1" hidden> Search... </option>
            </select>

            <button id="submitBtn" type="submit"><i class="fa fa-search"></i></button>

        }
    </div>



    <script>
        $(document).ready(function () {
            var dropBtn = document.getElementById("dropBtn");
            dropBtn.options[0].value = -1;
            dropBtn.options[0].hidden = true;

            $("#dropBtn").change(function () {

                var categoryValue = $('#dropBtn').val().toString();

                $.get("@Url.Action("GetSubCategory", "Search")", { "categoryValue": categoryValue }, function (data) {

                    var s = '<option value="-1" hidden> Search... </option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].SubCategoryID + '">' + data[i].SubCategoryName + '</option>';
                    }
                    $("#searchBox").html(s);
                });
            })
        })
    </script>

</body>

</html>






